.designer {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  height: 5447px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: 'Pretendard Variable';
}
.b {
  position: absolute;
  top: 1689px;
  left: calc(50% - 840px);
  font-size: 60px;
  line-height: 133%;
}
.b1 {
  position: absolute;
  top: 1620px;
  left: calc(50% - 840px);
  line-height: 133%;
  color: #424242;
}
.wrapperVector5Child {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  transform: scale(1.002);
}
.wrapperVector5 {
  position: absolute;
  top: 1754px;
  left: 1254px;
  max-height: 100%;
  width: 463px;
  overflow: hidden;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.designerChild {
  position: absolute;
  top: 1701px;
  left: 1733px;
  background-color: #d9d9d9;
  width: 55px;
  height: 55px;
}
.groupLink {
  width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: scale(1);
}
.wrapperGroupLink {
  position: absolute;
  width: calc(100% - 1877.8px);
  top: 77px;
  right: 938.88px;
  left: 938.92px;
  max-width: 100%;
  height: 28.6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cido {
  margin: 0;
}
.cidoContainer {
  position: absolute;
  top: 115.84px;
  left: calc(50% - 174.36px);
  line-height: 19.2px;
}
.ooo01000000000Container {
  position: absolute;
  top: 173.41px;
  left: calc(50% - 142.59px);
  line-height: 19.2px;
  display: inline-block;
  width: 285.4px;
  height: 39px;
}
.sideinseoulgmailcom {
  position: relative;
  line-height: 19.2px;
}
.link {
  position: absolute;
  top: 211.68px;
  left: calc(50% + 13.16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.copyrightSideAllContainer {
  position: absolute;
  top: 230.87px;
  left: calc(50% - 116.27px);
  line-height: 19.2px;
  display: inline-block;
  width: 232.9px;
  height: 20px;
}
.itemLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 7.5px;
}
.list {
  position: absolute;
  top: 260.06px;
  left: calc(50% - 81.25px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Noto Sans KR';
}
.designerItem {
  position: absolute;
  top: 1817px;
  left: 120px;
  width: 127px;
  height: 75px;
}
.imageIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: scale(1);
}
.wrapperImage {
  width: 687px;
  position: relative;
  border-radius: 20px;
  height: 792px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameChild {
  width: 687px;
  position: relative;
  border-radius: 20px;
  background-color: #8e8e93;
  height: 792px;
}
.wrapperImageParent {
  position: absolute;
  top: 558px;
  left: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.div2 {
  position: absolute;
  top: 381px;
  left: calc(50% - 840px);
  font-size: 60px;
  line-height: 190%;
  font-weight: 800;
}
.hotDesigners {
  position: absolute;
  top: 328px;
  left: calc(50% - 840px);
  line-height: 190%;
  font-weight: 600;
  color: #424242;
}
.frameItem {
  width: 30px;
  position: relative;
  background-color: #d9d9d9;
  height: 30px;
}
.b3 {
  position: relative;
  line-height: 133%;
}
.rectangleParent {
  position: absolute;
  top: 1860px;
  left: 117px;
  border-radius: 100px;
  background-color: #fff;
  /* width: 173px; */
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 21px 65px;
  box-sizing: border-box;
  gap: 10px;
  font-size: 24px;
  color: #8e8e93;
}
.icon {
  align-self: stretch;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.wrapper04 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  height: 658px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
}
.brandingUxui {
  position: relative;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 150%;
  color: #8e8e93;
}
.parent {
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper04Parent {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  cursor: pointer;
}
.wrapperRectangle34626411Child {
  align-self: stretch;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  transform: scale(1);
}
.wrapperRectangle34626411 {
  align-self: stretch;
  position: relative;
  border-radius: 20px;
  max-width: 100%;
  height: 658px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.branding {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 150%;
  color: #8e8e93;
}
.wrapperRectangle34626411Parent {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 17px;
}
.frameParent {
  position: absolute;
  top: 1980px;
  left: 117px;
  width: 1684px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 130px;
}
.more {
  position: absolute;
  top: 4831px;
  left: calc(50% - 47px);
  font-size: 40px;
  line-height: 133%;
  font-weight: 500;
  color: #8e8e93;
  text-align: center;
}
.wrapperFrame38Child {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: scale(1);
}
.wrapperFrame38 {
  position: absolute;
  top: 35px;
  left: calc(50% - 840px);
  width: 99px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperFrame34 {
  width: 64px;
  position: relative;
  height: 64px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperFrame34Parent {
  position: absolute;
  top: 28px;
  left: 1672px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.project {
  position: relative;
  line-height: 140%;
  cursor: pointer;
}
.community {
  position: relative;
  line-height: 140%;
}
.projectParent {
  position: absolute;
  top: 46px;
  left: 291px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 77px;
}


